@(invoices : List[dto.InvoiceDto])
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Invoice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/main.css")'>
</head>
<body class="container-fluid p-0 m-0">
@nav()
<div class="row justify-content-center p-0 m-0">
    <div class="col-8 p-0 m-0">
        <button type="button" class="btn btn-primary float-right my-2">
            <a class="nav-link" href="invoice/create">Create</a>
        </button>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Created Date</th>
                    <th>Value</th>
                    <th>Status</th>
                    <th>Client-ID</th>
                    <th>Number</th>
                    <th>Update</th>
                </tr>
            </thead>
            <tbody>
                @for(invoice <- invoices){
                <tr>
                    <th>@invoice.getId()</th>
                    <td>@invoice.getTimestamp()</td>
                    <td>@invoice.getValue()</td>
                    <td>@invoice.getStatusValue()</td>
                    <td>@invoice.getClientId()</td>
                    <td>@invoice.getNumber()</td>
                    <th>
                        <a class="nav-link" href="invoice/@invoice.getId()">Update</a>
                    </th>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@scriptContainer()
</body>
</html>