@()
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">EducaBiz-Demo</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@routes.InvoiceController.load">Invoice</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@routes.PaymentController.load">Payment</a>
            </li>
        </ul>
    </div>
</nav>